---
import Main from "@layouts/Main.astro";
---

<Main title="Main Page">
  <section>
    <hgroup class="flex flex-col text-center">
      <h1 class="text-5xl">Cbrnex</h1>
      <p class="text-2xl">Just a Gamer</p>
    </hgroup>
    <p>Now I'm a student. No title, but in a word, just a gamer.</p>
  </section>

  <section>
    <hgroup>
      <h2>Gamer</h2>
      <p>Love FPS</p>
    </hgroup>

    <h3>Favorited</h3>
    <div>
      <article>Super Mario 64</article>
      <article>Call Of Duty: Modern Warfare 3</article>
      <article>Call Of Duty: Black Ops Ⅱ</article>
      <article>Call Of Duty: World War Ⅱ</article>
      <article>Grand Theft Auto V</article>
      <article>Apex Legends</article>
      <article>Dragon Ball Z: Dokkan Battle</article>
      <article>Gran Turismo 7</article>
    </div>
  </section>

  <section>
    <hgroup>
      <h2>Engineer</h2>
      <p>Fullstack</p>
    </hgroup>

    <h3>Used</h3>
    <div>
      <article>Python</article>
      <article>Go</article>
      <article>Java</article>
      <article>Lua</article>
      <article>TypeScript</article>
    </div>
  </section>
</Main>
